body {
    font-family: Arial, Helvetica, sans-serif;;
    width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}
li {
    float: left;
}
li a {
    display: block;
    color: #032a42;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background: rgba(0,0,0,0);
	color: #6e6b8b;
	box-shadow: inset 0 0 0 3px #6e6b8b;
}
#block-foto {
    float: left;
    display: block;
    width: 300px;
    border: none;
    margin: 2px;
}
.round {
    width: 160px;
    height: 200px;
    border-radius: 50%;
}
#block-name {
    float: left;
    display: block;
    width: 300px;
    border: none;
    margin: 2px;
}
h1 {
    font-size: 40px;
    color: #032a42;
    text-align:center;
    margin-bottom:10px;
}
h2 {
    color: #3d3972;
}
h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 10px;
    background-color: #7087b7;
}
dt {
    float: left;
    clear: left;
    width: 17%;
    font-weight: bold;
}
dd {
    margin-left: 17%;
}
p {
    margin-top:0;
    margin-bottom:7px;
}
blockquote {
    text-align: center
}
a {
    text-decoration: none;
}
hr {
    color: #808fac;
}
table {
    width: 100%;
    border-top: solid;
    border-bottom: solid;
    border-color:#6e6b8b;
}
.footer{
    
    text-align: center;
}
